.header {
  border-bottom: 1px solid #ececec;
  position: relative;
  .container {
    @include centeredFlex($jc: space-between);
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 60px;
}
.header-logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  margin-right: 93px;

  color: $accent-color;
}
.logo-black {
  color: #000000;
}
.logo-white {
  color: #ffffff;
}
.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 420px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: wheat;
  &.is-open {
    display: block;
  }
}
.menu-button {
  display: inline-flex;
  border: none;
  background-color: transparent;
  transition: $transition;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-burger {
  display: none;
}
.header-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
.header-list-item {
  position: relative;
  .current {
    color: $accent-color;
    &::after {
      position: absolute;
      content: '';
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 4px;
      background: $accent-color;
      border-radius: 2px;
    }
  }
}
.header-list-link {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  padding-bottom: 12px;
  padding-top: 32px;
  color: $title-color;
  transition: $transition;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.header-contacts-list {
  display: flex;
  flex-direction: column;
}
.header-contacts-link {
  @include centeredFlex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $text-color;
  fill: $text-color;
  transition: $transition;
  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}
.header-contacts-mail {
  margin-bottom: 16px;
}
.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
