.our-features {
  padding: 60px 0;
}
.visually-hidden {
  @extend %visuallyHidden;
}

.our-features-item {
  width: 100%;
}
.our-features-icon {
  @include centeredFlex;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  .icon {
    width: 70px;
    height: 70px;
  }
}
.our-features-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-color;
}
.our-features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: $text-color;
}

@media screen and (max-width: 767px) {
  .our-features-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .our-features-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .our-features-subtitle {
    text-align: start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-features-item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .our-features {
    padding: 94px 0 47px;
  }
  .our-features-list {
    display: flex;
    // flex-wrap: no-wrap;
  }
  .our-features-item {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}
