.header {
  border-bottom: 1px solid #ececec;
  position: relative;
  .container {
    @include centeredFlex($jc: space-between);
  }
}
.header-nav {
  @include centeredFlex($jc: space-between);
  width: 100%;
  min-height: 60px;
}
.header-logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;

  color: $accent-color;
}
.logo-black {
  color: #000000;
}
.logo-white {
  color: #ffffff;
}
.header-list {
  display: flex;
  align-items: center;
}
.header-list-item {
  position: relative;
  .current {
    color: $accent-color;
    &::after {
      position: absolute;
      content: '';
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 4px;
      background: $accent-color;
      border-radius: 2px;
    }
  }
}
.header-list-link {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: $title-color;
  transition: $transition;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.header-contacts-list {
  display: flex;
  flex-direction: column;
}
.header-contacts-link {
  @include centeredFlex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: $text-color;
  fill: $text-color;
  transition: $transition;
  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}
.header-contacts-mail {
  margin-bottom: 16px;
}
.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .header-list {
    flex-direction: column;
    margin-bottom: 48px;
  }
  .header-list-item:not(:first-child) {
    padding-top: 40px;
  }
  .header-list-link {
    padding-bottom: 12px;
  }
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    &.is-open {
      display: block;
    }
  }
  .menu-button {
    display: inline-flex;
    border: none;
    background-color: transparent;
    transition: $transition;
    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
  .menu-button .icon-cross {
    display: none;
  }
  .menu-button.is-open .icon-cross {
    display: block;
  }
  .menu-button.is-open .icon-burger {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 88px;
  }
  .header-nav {
    justify-content: flex-start;
  }
  .header-list {
    width: 291px;
    justify-content: space-between;
  }
  .header-list-link {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.143;
  }
  .menu-container {
    @include centeredFlex($jc: space-between);
    width: 100%;
  }
  .menu-button {
    display: none;
  }
  .header-contacts-link {
    font-size: 12px;
  }
  .header-contacts-mail {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    font-size: 26px;
    line-height: 1.192;
  }
  .header-contacts-list {
    flex-direction: row;
  }
  .header-contacts-link {
    font-size: 14px;
    letter-spacing: 1.143;
    padding: 32px 0;
  }
  .header-contacts-mail {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
