.team {
  padding: 60px 0;
  background: #f5f4fa;
}

.team-img {
  margin-bottom: 30px;
}
.team-list-item {
  padding-bottom: 24px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: $title-color;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: $text-color;
}
.social {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 44px;
  margin: 0 auto;
}
.social-link {
  @include centeredFlex(inline-flex);
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  transform: scale(1) rotate(0deg);
  transition: $transition;
  &:hover {
    transform: scale(1.2) rotate(45deg);
    background-color: $accent-color;
    fill: #ffffff;
  }
}
.social-button:not(:last-child) {
  margin-right: 10px;
}
.social-icon {
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 767px) {
  .team-list-item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .team-list-item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
  .team-list {
    display: flex;
    flex-wrap: nowrap;
    margin: -15px;
  }
  .team-list-item {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
    padding-bottom: 30px;
  }
}
