*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: $main-font;
  font-style: normal;
}
img {
  display: block;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}
.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  color: $title-color;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
}
